<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body>

  <header>

  </header>
  <main>
      <section class="trendingMovies">
          <% movies.forEach(movie => { %>
            <div class="movie">
              <header>
                <img src="<%= movie.image_url %>">
                <h2><%= movie.title %></h2>
                <p><%= movie.descript %></p>
              </header>
              <form action="/login" method="POST">
                <input style="display: none;" name="url" value="<%= movie.image_url %>">
                <input style="display: none;" name="title" value="<%= movie.title %>">
                <input style="display: none;" name="descript" value="<%= movie.descript %>">
                <input style="display: none;" name="id" value="<%= movie.movieId %>">
                <button>Add to Library</button>
              </form>
            </div>
          <% }) %>
        </section>
  </main>
  <footer>
  </footer>


</body>

</html>