<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/modules.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body class="bodyBackground">
  <%- include('partials/header') %>

  <header class="header">

  </header>
  <main>
      <h1 id="notHeaderH1">SIMILAR MOVIES</h1>
      <section class="tile-container">
          <% movies.forEach(movie => { %>
            <div class="movie-tile" style="background-image: url(<%=movie.image_url%>);">
              <header>

                <h2><%= movie.title %></h2>
                <div class="scrollbox">
                  <p><%= movie.descript %></p>
                </div>
              </header>
              <form action="/login" method="POST">
                <input style="display: none;" name="url" value="<%= movie.image_url %>">
                <input style="display: none;" name="title" value="<%= movie.title %>">
                <input style="display: none;" name="descript" value="<%= movie.descript %>">
                <input style="display: none;" name="id" value="<%= movie.movieId %>">
                <button class="library-adder">Add to Library</button>
              </form>
            </div>
          <% }) %>
        </section>
  </main>
  <footer>
  </footer>


</body>

</html>