<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/modules.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body class="bodyBackground">
  <%- include('partials/header') %>
  <div class="curtain"></div>
  <main>
      <h1 id="notHeaderH1">TRENDING MOVIES</h1>
    <!--main container that holds all the tiles-->
    <section class="tile-container">

      <!-- each tile.-->
      <% movies.forEach(movie => { %>
      <button id="<%=movie.movieId%>" class="movie-tile" style="background-image: url(<%=movie.image_url%>);"
        form="submit<%=movie.movieId%>">
        <header>
          <h2><%= movie.title %></h2>
        </header>
        <form action="/generateMovie/<%=movie.movieId%>" method="POST" id="submit<%=movie.movieId%>">
        </form>
        </div>
        <% }) %>

    </section>

  </main>
  <%- include('partials/footer') %>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/header-color.js">
</script>

</html>
