<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/modules.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body class="bodyBackground">
  <header class="header">
    <img src="../public/img/logoTemp.jpg" height="45px" width="45px" <h1>301 Project name</h1>
    <div>User Name</div>
    <button class="" id="" type="button">Switch User</button>
    <button class="" id="" type="button">Library</button>
    <button class="" id="" type="button">About Us</button>



  </header>



  <main>
    <!--main container that holds all the tiles-->
    <section class="tile-container">

      <!-- each tile.-->
      <% movies.forEach(movie => { %>
      <button id="<%=movie.movieId%>" class="movie-tile" style="background-image: url(<%=movie.image_url%>);" form="submit<%=movie.movieId%>">
        <header>
          <h2><%= movie.title %></h2>
        </header>
        <form action="/generateMovie/<%=movie.movieId%>" method="POST" id="submit<%=movie.movieId%>">
        </form>
      </div>
      <% }) %>

    </section>

  </main>
  <footer>
    <h1>Team Name Here</h1>
    <button>
      <img src="../public/img/Octocat.png" width="35px">
    </button>
    <h1>https://github.com/301-Posters</h1>
  </footer>


</body>


</html>